body {
    margin: 0;
    padding: 0;
}
.eheh {
    height: 100%;
    width: 100%;
    display: grid;
    gap: 10px;
    background-color: aqua;
    padding: 10px;
    grid-template-columns: 10px 10px 10px 10px 10px;
    grid-template-rows: 10px 10px 10px 10px 10px;
}